/**Footer**/

.footer {
    background-color: var(--grisMuyFuerte);
    margin-top: 3rem;
    padding: 1rem 5rem;
    width: 100%;
}

.footer.fixed {
    position: fixed;
    bottom: 0;
}

.contenido-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
}


/*Mensaje de Derechos de autor*/

.derechos {
    width: 100%;
}

.derechos p {
    margin: 0 auto;
    color: var(--blanco);
    font-size: 2rem;
    font-weight: var(--bold);
}

@media (min-width: 1024px) {
    .derechos p {
        padding-top: 0;
    }
}