.permiso {
    background-color: #e1e1e1;
    padding: 1rem;
    border-radius: 5px;
}

.titulo-permiso {
    text-align: center;
    font-size: 2rem;
    font-weight: var(--bold);
    margin: .5rem;
}

.titulo-permiso.largo {
    background-color: #e1e1e1;
    border-radius: 5px;
    margin: 0;
}

.permiso .campo-informacion .dato {
    background-color: white;
}