/*Paginador*/

.paginador {
    width: max-content;
    height: 5rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.paginador-numeros {
    display: flex;
    align-items: center;
}

.pag-paginador {
    color: var(--azulFuerte);
    width: 1.5rem;
    height: 3.9rem;
    padding: .1rem 1.1rem;
    margin: 0 .5rem;
    font-size: 2rem;
    font-weight: var(--black);
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid var(--azulFuerte);
    border-radius: 5px;
    box-shadow: 0 2px 0 var(--azulFuerte);
}

.pag-paginador p {
    margin: 0 auto;
}


/*Pagina seleccionada*/

.pag-paginador.seleccionado {
    color: white;
    background-color: var(--azul);
    border-radius: 5px;
}

.atras-delante {
    font-size: 3rem;
    font-weight: var(--bold);
}